<!--<p id="notice"><%= notice %></p>-->

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<p>
  <b>your Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>your Email:</b>
  <%= @user.email %>
</p>



<% unless @user.events.empty? %>
  <table class="events" summary="User events">
    <%= render @events %>
  </table>  
<% end %>

<%= will_paginate @events %>

