<!--<p id="notice"><%= notice %></p>-->

<%= link_to 'Edit my profile', edit_user_path(@user) %> |
<%= link_to 'show all users', users_path %>
<%= link_to 'home page', root_path %>
<%=link_to "go my calendar", calendar_path(:current) %>
<p>
  <b>your Name:</b>
  <%= @user.name -%>
</p>

<p>
  <b>your Email:</b>
  <%= @user.email -%>
</p>



<% unless @user.events.empty? %>
  <table class="events" summary="User events">
    <%= render @events %>
  </table>  
<% end %>

<%#= will_paginate @events %>
<%=link_to 'new event', new_event_path%>

