



<TABLE>
  <tr>  

    <TD> <%=event.name%></TD>
    <TD><%=event.text%></TD>
    <TD><%=event.date%></TD>
     <TD><%= link_to 'Edit', edit_event_path(event)%></TD>
    <TD><%= link_to 'Destroy', :controller=>"events" , :action=>"destroy", :id=>event %></TD>
  </tr>
</TBODY>
</TABLE>

