<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @event.name %>
</p>

<p>
  <b>Content:</b>
  <%= @event.text %>
</p>

<p>
  <b>Date:</b>
  <%= @event.date %>
</p>

<p>
  <b>user name:</b>
  <%= current_user.name  %>
</p>

<p>
  <b>Id repeat:</b>
  <%= @event.repeat_id %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', calendar_path %>
<%= link_to 'Destroy', controller: :events , method: :delete %>
