<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @event.name %>
</p>

<p>
  <b>Content:</b>
  <%= @event.content %>
</p>

<p>
  <b>Date:</b>
  <%= @event.date %>
</p>

<p>
  <b>Id user:</b>
  <%= @event.id_user %>
</p>

<p>
  <b>Id repeat:</b>
  <%= @event.id_repeat %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
